torch>=2.*

cassio==0.0.7
datasets
# google-cloud-aiplatform>=1.25.0
gradio
jupyter>=1.0.0
numpy
# openai==0.27.7
panns_inference
python-dotenv==1.0.0
scipy


# cassio==0.0.7
# datasets==2.13.1
# # google-cloud-aiplatform>=1.25.0
# gradio==3.36.1
# jupyter>=1.0.0
# numpy==1.24.4
# # openai==0.27.7
# panns_inference==0.1.1
# python-dotenv==1.0.0
# scipy==1.11.1



# faiss-cpu
# pandas
# jupyter-datatables
# cassandra-driver
# librosa 
