## OpenAI
export OPENAI_API_KEY="..."

## GCP_VertexAI
# export GOOGLE_APPLICATION_CREDENTIALS="/path/to/service-account-key.json"

## Azure_OpenAI
# export AZURE_OPENAI_API_VERSION="2023-03-15-preview"
# export AZURE_OPENAI_API_BASE="https://YOUR-RESOURCE-NAME.openai.azure.com"
# export AZURE_OPENAI_API_KEY="..."
# export AZURE_OPENAI_LLM_DEPLOYMENT="Your_LLM_Deployment_Name"
# export AZURE_OPENAI_LLM_MODEL="gpt-4"
# export AZURE_OPENAI_EMBEDDINGS_DEPLOYMENT="Your_Embeddings_Deployment_Name"
# export AZURE_OPENAI_EMBEDDINGS_MODEL="text-embedding-ada-002"

## see e.g. 'docs/frameworks/langchain/llm_choice.py' for valid options here
export PREFERRED_LLM_PROVIDER="OpenAI"
