# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
.env
.api_keys

# IDE
.idea

# notebooks stuff
.ipynb_checkpoints

# MkDocs Ignore
site

# LangChain/Feast store
docs/frameworks/langchain/feast_store/user_features