# For the time being we work with a fork.
# Note: "langchain-core" must come before "langchain":
git+https://github.com/hemidactylus/langchain@SL-preview-for-cassio#egg=langchain-core&subdirectory=libs/core
git+https://github.com/hemidactylus/langchain@SL-preview-for-cassio#egg=langchain&subdirectory=libs/langchain
#
#
cassio>=0.1.3
google-cloud-aiplatform>=1.25.0
jupyter>=1.0.0
openai==0.27.7
python-dotenv==1.0.0
tensorflow-cpu==2.12.0
tiktoken==0.4.0
transformers>=4.29.2
